<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="display error message">
    <meta name="author" content="@eliftekin">

    <title>Error</title>

		<!-- Bootstrap core CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />

    <style>
    body {
      padding-top: 70px;
    }
    </style>

</script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{msg}}</h3><br>
              <nav class="nav nav-masthead">
                <a class="nav-link active"  href="/">Home</a>
                <a class="nav-link" href="#">GitHub</a>
                <a class="nav-link" href="https://www.thedataincubator.com/12day.html">12-day</a>
              </nav>
            </div>
          </header>
        </div>

				<main role="main" class="inner cover">
					<p class="lead">
						<a href="http://www.nasdaq.com/screening/company-list.aspx" class="btn btn-lg btn-secondary">Browse Ticker Symbols</a>
					</p>
				</main>
      </div>
    </div>
  </body>
</html>
